# Folders
######################
# folder to ignore
/images_infos/
/mlruns
/models
/docs
/data
/tests

# folder to  keep
!/images_infos/linter_scores
!/images_infos/reviews_by_category
!/docs/final_model.txt

# Another example for build outputs
/dist/
/build/

# IDE and OS-specific files
######################
.DS_Store
.idea/
.vscode/

# Environment files
######################
# Don't commit local environment variables
.env
.flaskenv

# Log files
######################
*.log

# Python-specific files
######################
# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

strategy.txt